<?xml version="1.0" encoding="ISO-8859-1"?>
<plugin-config>
	<depends plugin-name="com.iver.cit.gvsig"/>
	<depends plugin-name="com.iver.cit.gvsig.cad"/>
	<depends plugin-name="es.unex.sextante"/>
	<libraries library-dir="lib"/>
	<resourceBundle name="text"/>
	<extensions>
		<extension class-name="es.udc.cartolab.gvsig.algs.condcost.ConditionalCostExtension" description="ConditionalCost" active="true">
			<tool-bar name="ConditionalCost">
				<action-tool icon="images/condcost.png" tooltip="Conditional Cost"
					action-command="CondCost" position="1"/>
			</tool-bar>
			<menu text="CondCost/ConditionalCost"
				action-command="CondCost"
				icon="images/condcost.png" position="1501"/> 
		</extension>
	</extensions>
</plugin-config>
