<?xml version="1.0" encoding="ISO-8859-1"?>
<plugin-config>
	<depends plugin-name="com.iver.cit.gvsig"/>
	<depends plugin-name="es.unex.sextante"/>
   <depends plugin-name="org.gvsig.remotesensing"/>
   <depends plugin-name="org.gvsig.rastertools"/>
	<libraries library-dir="lib"/>
	<resourceBundle name="text"/>
	<extensions>
		<extension class-name="es.udc.cartolab.CDC.CDCGuiExtension" description="CDC_PANEL" active="true">
			<tool-bar name="_CDC_tool-bar-name">
				<action-tool icon="CDC-icon" tooltip="_CDC-launcher-tooltip"
					action-command="gui" position="0" />
			</tool-bar>
			<menu text="_CDC_menu_name/_CDC-launcher"
				action-command="gui" position="0"
				 />
		</extension>
	</extensions>
</plugin-config>
